openapi: 3.0.3

info:
  title: Yoyo Group API
  version: 1.0.0
  description: |
    Welcome to the **Yoyo Group API documentation**.

    This documentation provides a consolidated reference for the main Yoyo platform services.

    ## API Sections

    - POS API — Point‑of‑sale transaction processing
    - CVS Issuer API — Coupons, giftcards, retailers and merchants
    - VSP API — Token and provider transaction services
    - Earn Gateway API — Transactional earn event ingestion

    Use the navigation panel on the left to explore endpoints by service.

  x-logo:
    url: ./logo.png
    altText: Yoyo

servers:
  - url: https://api.yoyogroup.com
    description: Production

tags:
  - name: POS API
    description: Point of Sale transaction services
  - name: CVS Issuer API
    description: Coupon, retailer and merchant services
  - name: VSP API
    description: Value Service Provider APIs
  - name: Earn Gateway API
    description: Event ingestion APIs

paths:

  /pos/transaction:
    post:
      tags:
        - POS API
      summary: Create POS transaction
      description: Submit a payment transaction from a point‑of‑sale device.
      requestBody:
        required: true
        content:
          application/json:
            example:
              type: PAYMENT
              totalAmount: 5000
              basketAmount: 5000
              token:
                type: WICODE
                payload: "1234567890123456"
      responses:
        "200":
          description: Transaction processed
          content:
            application/json:
              example:
                responseCode: "-1"
                responseDesc: Success
                wiTrxId: 987654

  /retailers:
    get:
      tags:
        - CVS Issuer API
      summary: Get retailers
      responses:
        "200":
          description: Retailer list
          content:
            application/json:
              example:
                retailers:
                  - id: 123
                    name: Retailer A

  /vsp/tokens:
    post:
      tags:
        - VSP API
      summary: Create VSP token
      responses:
        "200":
          description: Token created
          content:
            application/json:
              example:
                responseCode: "-1"
                responseDesc: Success

  /events/transactional:
    post:
      tags:
        - Earn Gateway API
      summary: Submit earn event
      responses:
        "200":
          description: Event accepted
          content:
            application/json:
              example:
                responseCode: "-1"
                responseDesc: Success